body{
    background-color: #ECEBDF;
    color: #A72323;
}
a, a.nav-link{
    color: #A72323;
} 
a:hover, a.nav-link:hover{
    color: #8B1010;
}
.navbar-brand{
    font-size: x-large;
    font-weight: bold;
}
#navbar{
    margin-right: 20px;
    margin-left: 20px;
}

nav{
    background-color: #ECEBDF;
}


/* #border {
    width: 400px;
    height: 250px;
    position: relative;
    box-sizing: border-box;
    margin: 20px;
    z-index: 10;
    
}

#inner {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    top: 20px;
    left: 20px;
} */

.hero-container{
    width:100vw;
    height:100vh;
    position: relative;
}

.hero-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.hero-h1{
    width: 10vw;
    font-size: 3vw;
    float: left;
}

.hero-img{
    width: 60vw;
    float: left;
}

.hero-img:before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: -3vw;
    right: -3vw;
    border: 2px solid #A72323; 
}